<header class="site-header">

    <div class="wrapper">
      <a class="site-title" rel="author" href="/">peter forberg</a>
        <nav class="site-nav">
          <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger">
            <span class="menu-icon fas fa-bars fa-lg"></span>
          </label>
  
          <div class="drawer-container">
            <div class="drawer">
    <a class="nav-item" href="/research/">🗃research</a>
    <a class="nav-item" href="/images/peter_forberg_cv.pdf">📃cv</a>
    <a class="nav-item" href="/misc/">📚misc</a>
            </div>
          </div>
        </nav>
    </div>
  </header>