<!--<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" style="color:black; text-decoration: none !important;" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</nav>-->

<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/research">research</a></li>
  <li><a href="https://1drv.ms/b/s!Avw4DXciosFDyxNxVAkHpQvy7tAR?e=7c4v9Q" target="_blank">cv</a></li>
  <li><a href="/my work">my work</a></li>
  <li><a href="/misc">misc</a></li>
</ul>
</nav>
